service cloud.firestore {
  match /databases/{database}/documents {
    match /flood_events/{event} {
      allow read: if true;
      allow write: if false; // Seul l'admin SDK peut écrire
      
      match /polygons/{poly} {
        allow read: if true;
      }
    }
    match /subscribers/{sub} {
      allow create: if true;
      allow read: if false;
    }
  }
}